    
    .ntp-contents{
        display: flex;
        flex-direction: column;
        height: 100%;
        position: relative;
    }

    .fake-container{
        margin: 0 auto 0 auto;
            margin-top: 20%;
            margin-right: auto;
            margin-bottom: 0px;
            margin-left: auto;
        min-width: 410px;
        width: var(--content-width);
    }

    .NieuweSpeler , .BestaandeSpeler {
        margin: 0 auto 0 auto;
            margin-top: 0px;
            margin-right: auto;
            margin-bottom: 0px;
            margin-left: 25%;
        min-width: 410px;
        width: var(--content-width);

        width: 500px;
        text-align: center;
        font-family: Montserrat;
        font-size: 48px;
        background: url(afbeeldingen/ButtonBackground.png);
        border-radius: 20px;
        color: #FFFFFF; 
    }

    Body {
        background: url(afbeeldingen/pokertafel.jpg);
    }
